<style type="text/css">
	.card{
	   max-width: 700px;
           width: 100%;
	}
	.card-body{
	   padding: 20px;
                
	}
</style>
{% if movie %}
<div class="container">
  <div class="row">
    <!-- Blog Post -->
    <div class="card m-auto">
      <a href="{% url 'movie:detail' movie.slug %}">
        <img class="card-img-top" src="{{movie.image.url}}">
      </a>
			
      <div class="card-body mt-2 mb-2">
        <a href="{% url 'movie:detail' movie.slug %}">
          <h2 class="card-title">{{movie.title}}</h2>
        </a>
        <p class="card-text">{{movie.description|truncatechars:140}}</p>
        <p class="card-text"><strong>{{movie.likes}} Likes</strong></p>        
        <p class="card-text">Rentail Price: <strong>${{movie.rentail_price}}</strong></p>
        <p class="card-text">Sale Price: <strong>${{movie.sale_price}}</strong></p>
        {% if movie.owner == request.user %}
        <a href="{% url 'movie:edit' movie.slug %}" class="btn btn-primary">Update</a>
        {% endif %}
      </div><!--EndCardBody-->
      <div class="card-footer text-muted">
        Published on {{movie.date_published}} by {{movie.owner.username}}
      </div><!--EndCardFooter-->
    </div><!--EndCard-->
  </div><!--EndRow-->
</div><!--EndContainer-->
{% else %}

<div class="container">
  <div class="row">
    <div class="card m-auto">
      <div class="card-body mt-2 mb-2 ">
        <h2 class="card-title">No result</h2>
        <p class="card-text">There were no results matching your search: "{{query}}"</p>
      </div>
    </div>
  </div>
</div>

{% endif %}
